---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import ProseWrapper from "@components/ProseWrapper.astro";
import NotesList from "@components/NotesList.astro";
import ArtifactsList from "@components/ArtifactsList.astro";

import artifacts from "@data/artifacts";

const pageTitle = "Matthew Trentacoste";
---

<Layout title={pageTitle}>
  <Header title={pageTitle} slot="header" />

  <ProseWrapper>
    <h2 class="newsection">Now</h2>
    <p>
      I work on AI video generation at <a href="/cv#meta">Meta</a>, where I spend a
      lot of time thinking about training data.
    </p>
    <p>
      When I'm not doing that, I'm usually trying to get lost in the wilderness.
      I camp, hike, find things to drive over, and spend a fair amount of time
      getting to out of the way places to <a
        href="http://instagram.com/matttrent">photograph them</a
      >.
    </p>
    <p>
      Get in touch via email (my initials at this domain) or <a
        href="http://twitter.com/matttrent">Twitter</a
      >.
    </p>

    <h2 class="newsection">Previous eras</h2>
    <p>
      At <a href="/cv#figma">Figma</a> and <a href="/cv#sprig">Sprig</a>, I
      found myself in a variety of data science roles from 2014-2017.
    </p>
    <p>
      At <a href="/cv#adobe">Adobe</a> and <a href="/cv#pocket-pixels"
        >Pocket Pixels</a
      >, I worked on a number of projects in the early days of mobile
      photography from 2011-2014.
    </p>
    <p>
      At <a href="/cv#dolby">Dolby</a> and <a href="/cv#brightside"
        >BrightSide</a
      >, prior to their acquisition, I worked on high dynamic range displays
      from 2004-2009.
    </p>
    <p>
      My <a href="/cv#phd">Ph.D.</a> is in image processing and human visual perception
      at University of British Columbia, from 2003-2012.
    </p>

    <h2 class="newsection">Notes</h2>
    <NotesList />

    <h2 class="newsection">Random artifacts</h2>
    <ArtifactsList items={artifacts} />
  </ProseWrapper>
</Layout>
