---
import { getCollection, type CollectionEntry } from "astro:content";
import { groupAndSortByDate } from "@utils/dateGrouping";
import { isPublished } from "@utils/content";

// Get all galleries and filter by draft status

import "@css/deflist.css";

type Gallery = CollectionEntry<"galleries">;

// Get all non-draft notes
const allGalleries = await getCollection("galleries", isPublished);

const sortedYearGroups = groupAndSortByDate(allGalleries, {
  groupKey: (gallery: Gallery) => gallery.data.createdAt.getFullYear(),
  sortKey: (gallery: Gallery) => gallery.data.createdAt,
});
---

<dl class="dl-horizontal">
  {
    sortedYearGroups.map(([year, galleries]) => (
      <>
        <dt>{year}</dt>
        {galleries.map((gallery) => (
          <dd>
            <a href={`/photos/${gallery.id}`}>{gallery.data.title}</a>
            {gallery.data.isDraft && " (draft)"}
          </dd>
        ))}
      </>
    ))
  }
</dl>
