---
import { Image } from 'astro:assets';

interface Props {
  columns: number;
  width?: 'normal' | 'full' | 'fullscreen';
  aspectRatio?: string | number;
  images: {
    src: ImageMetadata;
    alt: string;
  }[];
}

const { columns = 3, width = 'normal', aspectRatio, images } = Astro.props;
const cssAspectRatio = aspectRatio?.toString().replace("/", " / ");
---

<figure class:list={[`width-${width}`, "ImageGrid"]}>
  {width === 'normal' && <slot name="sidenote" />}
  <div class="ImageGrid-grid">
    {images.map(({ src, alt }) => (
      <Image src={src} alt={alt} />
    ))}
  </div>
  <slot name="figcaption" />
</figure>

<style define:vars={{ columns, cssAspectRatio }}>
  :root {
    --image-grid-gap: 0.5rem;
  }

  figure {
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin: 0 0 3em 0;
  }

  figure.width-normal {
    grid-column: text-start / text-end;
  }

  figure.width-full {
    grid-column: text-start / margin-end;
  }

  figure.width-fullscreen {
    grid-column: screen-start / screen-end;
  }

  @media (max-width: 760px) {
    figure.width-normal,
    figure.width-full,
    figure.width-fullscreen {
      grid-column: page-start / page-end;
    }
  }

  :global(article > figure.ImageGrid > figcaption) {
    float: right;
    clear: right;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.6;
    vertical-align: baseline;
    position: relative;
    max-width: calc(4 * var(--column-width));
  }

  .ImageGrid-grid {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: var(--image-grid-gap);
    width: 100%;
  }

  /* Style direct image children */
  :global(.ImageGrid-grid > img),
  :global(.ImageGrid-grid > :is(astro-island, *) > img) {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: var(--cssAspectRatio, auto);
  }
</style>
