---
interface Props {
  name: string;
}

const { name } = Astro.props;
---

<span class="margin-note-wrapper">
  <label for={`mn-${name}`} class="margin-toggle">&#8853;</label>
  <input type="checkbox" id={`mn-${name}`} class="margin-toggle" />
  <span class="marginnote">
    <slot />
  </span>
</span>

<style is:global>
  .margin-note-wrapper {
    float: right;
    clear: right;
    margin-right: -57.3%; /* TODO: This is a hack to make the margin note look better. */
    width: 50%;
    position: relative;
    font-size: 1.1rem;
    line-height: 1.3 !important;
  }

  .sidenote,
  .marginnote {
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: baseline;
    position: relative;
  }

  /* Repeated text styling for MDX files which generate notes with <p> tags. */
  .marginnote > p {
    font-size: 1.1rem;
    line-height: 1.3 !important;
  }

  .marginnote > code,
  .sidenote > code {
    font-size: 1rem;
  }

  .sidenote-number {
    counter-increment: sidenote-counter;
  }

  .sidenote-number:after,
  .sidenote:before {
    font-family: et-book-roman-old-style;
    position: relative;
    vertical-align: baseline;
  }

  .sidenote-number:after {
    content: counter(sidenote-counter);
    font-size: 1rem;
    top: -0.5rem;
    left: 0.1rem;
  }

  .sidenote:before {
    content: counter(sidenote-counter) " ";
    top: -0.5rem;
  }

  input.margin-toggle {
    display: none;
  }

  label.sidenote-number {
    display: inline;
  }

  label.margin-toggle:not(.sidenote-number) {
    font-size: 1.4em; /* TODO: This is a hack to make the margin toggle look better. */
    display: none;
  }
</style>
