---
interface Props {
  name: string;
}

const { name } = Astro.props;
---

<label for={`mn-${name}`} class="margin-toggle">&#8853;</label>
<input type="checkbox" id={`mn-${name}`} class="margin-toggle" />
<span class="marginnote">
  <slot />
</span>
