---
interface Props {
  name: string;
  text: string;
}

const { name } = Astro.props;
const { text } = Astro.props;

---

<label for="mn-{name}" class="margin-toggle">&#8853;</label>
<input type="checkbox" id="mn-{name}" class="margin-toggle"/>
<span class="marginnote">{text}</span>
