---
import { getCollection } from "astro:content";
import { groupAndSortByDate } from '../utils/dateGrouping';

// Get all non-draft notes
const allNotes = await getCollection("notes", ({ data }) => {
  return data.isDraft !== true;
});

const sortedYearGroups = groupAndSortByDate(allNotes, {
  sortKey: (note) => note.data.date.getFullYear()
});
---

{
  allNotes.length > 0 && (
    <section>
      <h2>Notes</h2>
      <dl class="dl-horizontal">
        {sortedYearGroups.map(([year, notes]) => (
          <>
            <dt>{year}</dt>
            {notes.map((note) => (
              <dd>
                <a href={`/notes/${note.slug}`}>{note.data.title}</a>
              </dd>
            ))}
          </>
        ))}
      </dl>
    </section>
  )
}
