@charset "UTF-8";

@font-face {
  font-family: "et-book";
  src: url("/type/et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot");
  src: url("/type/et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot?#iefix") format("embedded-opentype"),
    url("/type/et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff") format("woff"),
    url("/type/et-book/et-book-roman-line-figures/et-book-roman-line-figures.ttf") format("truetype"),
    url("/type/et-book/et-book-roman-line-figures/et-book-roman-line-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: "et-book";
  src: url("/type/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot");
  src: url("/type/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot?#iefix") format("embedded-opentype"),
    url("/type/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff") format("woff"),
    url("/type/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.ttf") format("truetype"),
    url("/type/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: italic
}

@font-face {
  font-family: "et-book";
  src: url("/type/et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot");
  src: url("/type/et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot?#iefix") format("embedded-opentype"),
    url("/type/et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff") format("woff"),
    url("/type/et-book/et-book-bold-line-figures/et-book-bold-line-figures.ttf") format("truetype"),
    url("/type/et-book/et-book-bold-line-figures/et-book-bold-line-figures.svg#etbookromanosf") format("svg");
  font-weight: bold;
  font-style: normal
}

@font-face {
  font-family: "et-book-roman-old-style";
  src: url("/type/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot");
  src: url("/type/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot?#iefix") format("embedded-opentype"),
    url("/type/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.woff") format("woff"),
    url("/type/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.ttf") format("truetype"),
    url("/type/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: normal;
}

:root {
  --column-gap: 0px;
  --outer-margin: 20px;

  --background-color: rgb(246, 245, 241);

  --color: #111;
  --link-underline-color: #333;
  --link-selection-color: #b4d5fe;

  --font-size: 15px;
  --line-height: 1.5em;

  --standard-fonts: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  --sans-fonts: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  --mono-fonts: Consolas, "Liberation Mono", Menlo, Courier, monospace;

}

html {
  font-size: var(--font-size);
}

body {
  color: var(--color);
  background-color: var(--background-color);
  line-height: var(--line-height);
  font-family: var(--standard-fonts);
  -webkit-font-smoothing: subpixel-antialiased;
}



/* For screens smaller than 1300px */
@media (max-width: 1399px) {
  :root {
    --column-width: 1fr;
    --outer-margin: 20px;
  }
}

/* For screens larger than 1300px */
@media (min-width: 1400px) {
  :root {
    --column-width: 110px;
    --outer-margin: minmax(20px, 1fr);
  }
}

.gridContainer {
  display: grid;
  grid-auto-flow: columns;
  margin: 0 auto;
  grid-template-columns:
    var(--outer-margin) 
    [page-start left-kickout] 
    var(--column-width)
    [text-start]
    repeat(7, var(--column-width)) [text-end] 
    var(--column-width) 
    [right-kickout margin-start] 
    repeat(3, var(--column-width)) [page-end margin-end] 
    var(--outer-margin);
  /* column-gap: var(--column-gap); */
}

/* Inline rendering of media elements 
   TODO: Remove this once we have marginnotes worknig correctly, then can figure out 
   where to apply appropriately.
*/
img,
picture,
video,
canvas,
svg {
  display: inline;
  max-width: 100%;
}

/* link decoration */
a:link {
  text-decoration: none;
  background: -webkit-linear-gradient(var(--background-color), var(--background-color)),
    -webkit-linear-gradient(var(--background-color), var(--background-color)),
    -webkit-linear-gradient(var(--link-underline-color), var(--link-underline-color));
  background: linear-gradient(var(--background-color), var(--background-color)),
    linear-gradient(var(--background-color), var(--background-color)),
    linear-gradient(var(--link-underline-color), var(--link-underline-color));
  -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  text-shadow: 0.03em 0 var(--background-color),
    -0.03em 0 var(--background-color),
    0 0.03em var(--background-color),
    0 -0.03em var(--background-color),
    0.06em 0 var(--background-color),
    -0.06em 0 var(--background-color),
    0.09em 0 var(--background-color),
    -0.09em 0 var(--background-color),
    0.12em 0 var(--background-color),
    -0.12em 0 var(--background-color),
    0.15em 0 var(--background-color),
    -0.15em 0 var(--background-color);
  background-position: 0% 93%, 100% 93%, 0% 93%;
}

/* link color */
a:link,
a:visited {
  color: inherit;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  a:link {
    background-position-y: 87%, 87%, 87%;
  }
}

a:link::selection {
  text-shadow: 0.03em 0 var(--link-selection-color), 
    -0.03em 0 var(--link-selection-color), 
    0 0.03em var(--link-selection-color), 
    0 -0.03em var(--link-selection-color), 
    0.06em 0 var(--link-selection-color), 
    -0.06em 0 var(--link-selection-color), 
    0.09em 0 var(--link-selection-color), 
    -0.09em 0 var(--link-selection-color), 
    0.12em 0 var(--link-selection-color), 
    -0.12em 0 var(--link-selection-color), 
    0.15em 0 var(--link-selection-color), 
    -0.15em 0 var(--link-selection-color);
  background: var(--link-selection-color);
}

a:link::-moz-selection {
  text-shadow: 0.03em 0 var(--link-selection-color), 
    -0.03em 0 var(--link-selection-color), 
    0 0.03em var(--link-selection-color), 
    0 -0.03em var(--link-selection-color), 
    0.06em 0 var(--link-selection-color), 
    -0.06em 0 var(--link-selection-color), 
    0.09em 0 var(--link-selection-color), 
    -0.09em 0 var(--link-selection-color), 
    0.12em 0 var(--link-selection-color), 
    -0.12em 0 var(--link-selection-color), 
    0.15em 0 var(--link-selection-color), 
    -0.15em 0 var(--link-selection-color);
  background: var(--link-selection-color);
}
