---
import GoogleAnalytics from "../components/GoogleAnalytics.astro";

import "../css/tufte.css";
import "../css/latex.css";
import "../css/custom.css";

interface Props {
	title: string;
	styles?: any[];  // Array of imported style modules
}

const { title, styles = [] } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<GoogleAnalytics />
		
		<meta charset="utf-8" />
		<title>{title}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<slot name="head" />
	</head>

	<body>
		<article class="single-article">
			<slot />
		</article>
	</body>
</html>
