---
import HTMLHeader from "../components/HTMLHeader.astro";

// import "../css/tufte.css";
// import "../css/latex.css";
// import "../css/custom.css";

import "../css/reset.css";
// import "../css/shared.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <HTMLHeader title={title} />

  <body>
    <slot name="header" />
    <main>
      <slot />
    </main>
  </body>
</html>

<style>
  main {
    margin-top: var(--main-margin-extra);
    margin-bottom: 30rem;
  }
</style>
