---
import GoogleAnalytics from "../components/GoogleAnalytics.astro";
import HTMLHeader from "../components/HTMLHeader.astro";

import "../css/tufte.css";
import "../css/latex.css";
import "../css/custom.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<HTMLHeader title={title} />

  <body>
    <slot name="header" />
    <main>
      <article>
        <slot />
      </article>
    </main>
  </body>
</html>
