---
import Layout from "./Layout.astro";

interface Props {
  content: {
    title: string;
    date?: Date;
    isDraft?: boolean;
    [key: string]: any;
  }
}

const { content } = Astro.props;
---

<Layout title={content.title}>
  <h1>{content.title}{content.isDraft && " (draft)"}</h1>
  <section>
    <slot />
  </section>
</Layout> 
