---
import type { Note } from '../types/note';
import Layout from "./Layout.astro";

interface Props {
  content: Note;
}

const { content } = Astro.props;
---

<Layout title={content.title}>
  <header slot="header">
    <h1>{content.title}{content.isDraft && " (draft)"}</h1>
  </header>
  <section>
    <slot />
  </section>
</Layout> 
