---
import type { Note } from '../types/note';
import Layout from "./Layout.astro";

interface Props {
  content: Note;
}

const { content } = Astro.props;
---

<Layout title={content.title}>
  <h1>{content.title}{content.isDraft && " (draft)"}</h1>
  <section>
    <slot />
  </section>
</Layout> 
